@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  padding: 12;
  margin-bottom: 16;
  background-color: #f0f0f0;
  border-radius: 8;
}

.btn {
  padding: 12;
  border-radius: 8;
  margin: 8 0;
}

.btn-primary {
  background-color: #65adf1;
  color: white;
}

ActionBar {
  background-color: #65adf1;
  color: white;
}